.hero-title {
	margin-top: 50px;
}

.hero-img {
	width: 884px;
}

.hero-img img {
	width: 100%;
}

.hero-title {
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 58.51px;
	color: white;
}

.hero-subtitle {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #bababa;
	width: 560px;
}

.line {
	width: 80px;
	height: 5px;
	background: linear-gradient(259.49deg, #2575fc 1.69%, #6a11cb 73.5%);
	border-radius: 5px;
	margin: 8px 0;
}

.iphone-img {
	width: 600px !important;
}

@media (max-width: 785px) {
	.hero-img {
		width: 650px;
	}

	.hero-title {
		font-size: 44px;
	}
	.hero-subtitle {
		font-size: 16px;
	}

	.iphone-img {
		width: 500px !important;
	}
}

@media (max-width: 532px) {
	.hero-img {
		width: 500px;
	}

	.hero-title {
		font-size: 40px;
	}
	.hero-subtitle {
		width: 400px;
		font-size: 16px;
	}

	.iphone-img {
		width: 400px !important;
	}
}

@media (max-width: 438px) {
	.hero-img {
		width: 380px;
	}

	.hero-title {
		font-size: 38px;
	}
	.hero-subtitle {
		width: 350px;
		font-size: 14px;
	}

	.line {
		height: 3px;
	}
	.iphone-img {
		width: 380px !important;
	}
}

@media (max-width: 408px) {
	.hero-img {
		width: 350px;
	}

	.hero-title {
		font-size: 30px;
	}
	.hero-subtitle {
		width: 300px;
		font-size: 14px;
	}

	.line {
		height: 3px;
	}
	.iphone-img {
		width: 350px !important;
	}
}
