@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container {
	/* width: calc(100% - 392px); */
	width: 80%;
	margin: 0	auto;
}


.outlet-section {
	height: 500px;
	background-color: orange;
}


a.active {
	color: white;
}