@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	/* width: calc(100% - 392px); */
	width: 80%;
	margin: 0 auto;
}

.outlet-section {
	height: 500px;
	background-color: orange;
}

a.active {
	color: white;
}

.not-found-page {
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #121212;
}

.not-found-page-title {
	padding-top: 40px;
	font-size: 200px;
	font-family: Montserrat;
	font-weight: 700;
	color: white;
}

.not-found-page-subtitle {
	color: white;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 24px;
	font-family: Montserrat;
	font-weight: 500;
}


@media (max-width: 450px) {
	.not-found-page-title {
		font-size: 120px;
	}

	.not-found-page-subtitle {
		font-size: 20px;
		margin-bottom: 30px;
	}
}

@media (max-width: 380px) {
	.not-found-page-title {
		font-size: 100px;
	}

	.not-found-page-subtitle {
		font-size: 18px;
		margin-bottom: 15px;
	}
}